[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "==2.0.10"
colorama = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.2"
